{% extends 'base.html' %}
{% block content %}

<h1 class="center-align">{{ list.title }}</h1>

<div class="card">
    <div class="black-text card-content">
        <p><strong>Category:</strong> {{ list.get_category_display }}</p>
        <p><strong>City:</strong> {{ list.get_city_display }}</p>
        <p><strong>Likes:</strong> {{ list.likes }}</p>
        <p><strong>Restaurants:</strong></p>
        <div class="row">
            <div class="col s6">
                {% for restaurant in list.restaurants.all %}
                <div class="card">
                    <div class="card-content">
                        <p><strong>{{ restaurant.name }}</strong></p>
                        <p>{{ restaurant.address }}</p>
                        <p>{{ restaurant.get_food_type_display }} - {{ restaurant.get_price_display }}</p>
                        <p>
                            {% if restaurant.visited == True %}
                            <label>
                                <input type="checkbox" disabled="disabled" checked="checked" />
                                <span class="black-text">Visited</span>
                            </label>
                            {% else %}
                            <label>
                                <input type="checkbox" disabled="disabled" />
                                <span class="black-text">Not Visited</span>
                            </label>
                            {% endif %}
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="card-action">
        <a href="{% url 'lists_update' list.id %}">Edit</a>
        <a href="{% url 'lists_delete' list.id %}">Delete</a>
    </div>
</div>

<div class="card">
    <div class="card-content">
        <h5 class="black-text center-align">Comments</h5>
        <form>
            
        </form>
    </div>
</div>

{% endblock %}