{% extends 'base.html' %}
{% block content %}

<h1 class="center-align">Your Lists</h1>

{% for list in lists %}
<div class="card blue accent-1">
    <div class="card-content">
        <span class="card-title">{{ list.title }}</span>
        <p>Category: {{ list.get_category_display }}</p>
        <p>City: {{ list.get_city_display }}</p>
        <p>Likes: {{ list.likes }}</p>
        <!-- <div class="row">
            <!-- <p>Restaurants:</p>
            <div class="col s6">
                {% for restaurant in list.restaurants.all %}
                <div class="card">
                    <div class="card-content">
                        <p>{{ restaurant.name }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div> -->
    </div>
</div>
{% endfor %}

{% endblock %}